/* User should not select anything on modal
    -------------------------------------------*/
body {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    overflow: hidden;
    margin: 0;
    bottom: 0;
    top: 0;
}

.bg-image-block {
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    width: 100vw;
    height: calc(100vh - 0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.selection-none {
    /* Could be more or less, depending on screen size */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

/*----------------------------------------------*/
.mo-slot-header-logo {
    display: none;
}
.slot-header-logo {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    /*position: absolute;*/
}

.slot-header-logo .slot-logo-img {
    width: auto;
    height: auto;
    max-height: 14vh;
    max-width: 14vw;
}

.main-container {
    width: 50%;
    position: relative;
}

.left-half {
    width: 80%;
    position: absolute;
    /*margin-top: 20%;*/
    right: 0;
}

.left-half .outer-image-container {
    background-image: url(../images/slot.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 58.25%;
    position: absolute;
    top: 20vh;
}

.left-half .outer-image-container .arrow-image-container {
    width: 76.1%;
    position: absolute;
    top: 19.7%;
    left: 8.5%;
    height: 66.2%;
}

.left-half .outer-image-container .arrow-image-container .arrow-images {
    background-image: url(../images/left_aero.png), url(../images/right_aero.png);
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    height: 20%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.left-half .outer-image-container .arrow-image-container .inner-image-container {
    width: 90%;
    position: absolute;
    top: 7.5%;
    left: 5%;
    height: 83.8%;
    overflow: hidden;
}

.left-half .outer-image-container .arrow-image-container .inner-image-container .left-images {
    position: absolute;
    width: 33%;
    height: 100%;
    left: 0;
    /* transition: all 1s ease-in-out 0s;
    transform: matrix(1, 0, 0, 1, 0, -466); */
}

.left-half .outer-image-container .arrow-image-container .inner-image-container .center-images {
    position: absolute;
    width: 33%;
    height: 100%;
    left: 33.3%;
}

.left-half .outer-image-container .arrow-image-container .inner-image-container .right-images {
    position: absolute;
    width: 33%;
    height: 100%;
    left: 67%;
}


.has-eighteen-plus{
    display: none;
    padding-top: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: -290px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
}

.right-half {
    width: 50%;
    position: absolute;
    right: 0;
}

.slotMachineNoTransition {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.slotMachineBlurFast {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.slotMachineBlurMedium {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.slotMachineBlurSlow {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.slotMachineBlurTurtle {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.slot {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: -1px;
    display: table;
    border-radius: 8px;
    box-shadow: inset 0px -55px 141px -79px rgba(0, 0, 0, 0.54), inset 0px 55px 141px -79px rgba(0, 0, 0, 0.54);
}

.slotMachineContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.inner-txt {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2.5rem;
    line-height: 22px;
    z-index: 0;
    background-color: red;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: inset 0px -55px 141px -79px rgba(0, 0, 0, 0.54), inset 0px 55px 141px -79px rgba(0, 0, 0, 0.54);
}
::-webkit-scrollbar {
    width: 6px;
}   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}    
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: grey;
}
.form-container {
    max-height: 303px;
    overflow-y: auto;
}
/*

.slot-container {
    height: 100%;
    width: 100%;
}
.img-container {
    position: relative;
}
.inner-container {
    position: absolute;
    height: 24vh;
    width: 69%;
    margin-top: 14%;
    left: 12%;
    top: 0px;
    overflow: hidden;
}
.slotMachine .slot {
    height: 100%;
    background-position-x: 55%;
    background-repeat: no-repeat;   
    background-image: url(../images/image2.png);
}
.slot-container .outer-img {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.slot-container .left-img {
    position: absolute;
    background: url(../images/image3.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
    width: 33%;
    height: 100%;
}

.slot-container .center-img {
    position: absolute;
    background: url(../images/image2.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 33.3%;
    top: 0px;
    width: 33%;
    height: 100%;
}

.slot-container .right-img {
    position: absolute;
    background: url(../images/image1.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 66.7%;
    top: 0px;
    width: 33%;
    height: 100%;
} 

*/
/* browser base reg form  */
.reg-container .form-container {
    max-width: unset;
    max-height: unset;
    overflow-y: unset;
}
body.load-browser-regform {
    position: relative;
    overflow-y: inherit;
}
.load-browser-regform .page-container {
    position: relative;
}
.browser-base-regform .form-title {
    width: 100%;
    margin: 0;
}
.reg-container.success-reg {
    background-color: transparent;
    padding: 0;
}
.browserslotWrapper.main-container {
    margin: 0 auto;
}
.browserslotWrapper .left-half {
    margin: 0 auto;
    left: 0;
}
.load-browser-regform #slotWrapper.main-container {
    width: 100%;
    height: 450px;
}
.load-browser-regform #slotWrapper .left-half {
    width: 40%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}
.load-browser-regform .left-half .outer-image-container {
    top: 0;
}
.load-browser-regform #sidebar {
    position: relative;
    margin: 0 auto;
    max-width: 852px;
}
.load-browser-regform #sidebar .model-winning-form-chance {
    margin: 0 auto;
}
/* browser base reg form  */
/* START: born select box design - DAB */
.combodate {
	display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 10px;
	margin-bottom: 10px;
}
.combodate .year,.combodate .month,.combodate .day {
    background-color: #ffffff;
	padding: .5rem !important;
    color: black !important;
    border-radius: 5px !important;
    border: 1px solid white !important;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin: 0 5px;
    outline: 0;
    height: 38px;
}
.born-label {
    display: block;
    text-align: left;
}
/* END: born select box design - DAB */
.question-label {
    color: #ffffff;
    display: block;
    text-align: left;
}
.question-drop {
    padding: .5rem !important;
    color: black !important;
    border-radius: 5px !important;
    border: 1px solid white !important;
    outline: 0;
    width: 100%!important;
    height: 38px;
}
#cookieModel {
    display: none!important;
}
.cookie-position {
    position: fixed!important;
    bottom: 0px!important;
}
#btn_register {
    outline: 0;
}
/* browser base reg form  */
.reg-container {
    max-width: 1170px;
    margin: 0 auto; 
    padding-left: 15px;
    padding-right: 15px;
}
.reg-container .form-container {
    max-width: unset;
    max-height: unset;
    overflow-y: unset;
}
body.load-browser-regform {
    position: relative;
    overflow-y: inherit;
}
.load-browser-regform .page-container {
    position: relative;
}
/* 20/03/2021 */
.custom-input-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.custom-input-wrap .form-input-label {
    flex: 0 0 25%;
    max-width: 25%;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    padding-right: 15px;
    margin: 5px 0;
}
.custom-input-wrap .permission-model-text-box {
    height: 3.8rem;
    border-radius: 5px !important;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    border: 0;
}
.browser-base-regform .btn_register {
    border-radius: 45px;
    width: auto;
    padding: 15px 60px;
    font-size: 20px;
    margin: 0 auto;
    line-height: 20px;
    display: flex;
    justify-content: center;
}
.form-term {
    color: #ffffff;
}
.browser-base-regform .form-bottom-text {
    padding: 0;
    font-size: 13px;
    line-height: 2.2rem;
}   
.browser-base-regform {
    padding-top: 80px;
    padding-bottom: 80px;
}
.browser-base-regform #userInfoError p {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    font-size: 14px;
    padding: 10px 30px;
}
.browser-base-regform .form-bottom-text {
    background-color: unset;
}
/* .browser-base-regform .form-all-inputs > div {
    height: 50px!important;
} */
/* browser base reg form  */
/* browser base game section */
/* .load-browser-regform .cookie-position {
    position: relative!important;
}
.load-browser-regform .cookie-position #cookieContainer {
    background-color: transparent!important;
    opacity: 1!important;
}
.load-browser-regform .cookie-position .cookie-sub-contain {
    max-width: 830px;
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
}
.load-browser-regform .cookie-position .cookie-btn {
    display: block;
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 3px;
} */
.load-browser-regform .main-image-container,
.footerText1 .custom-container {
    max-width: 852px;
    border: none;
    margin: 0 auto;
}
.load-browser-regform .main-image-container,
.load-browser-regform .main-image-container .game-container,
.load-browser-regform .main-image-container #myCanvas {
    border-radius: 30px;
}
a,
button {
    outline: 0;
}
.load-browser-regform span,
.load-browser-regform button,
.load-browser-regform a,
.load-browser-regform div {
    font-family: "Raleway", "Helvetica Neue", Arial, sans-serif !important;
}
.load-browser-regform h1 span,
.load-browser-regform h2 span,
.load-browser-regform h3 span,
.load-browser-regform h4 span,
.load-browser-regform h5 span,
.load-browser-regform h6 span{
    font-family: "Raleway Dots", "Helvetica Neue", Arial, sans-serif;
}
.winloss-container {
    max-width: 850px;
    margin: 0 auto;
}
#preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 13px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
#preloader.remove-bg {
    background-color: transparent;
}
.footerText1 {
    margin-top: 30px;
}
/* winner-loser page */
.winner-loser-page .win-img {
    text-align: center;
    bottom: -100px;
    position: relative;
    z-index: 99;
}
.winner-loser-page .win-img img {
    width: 800px;
    height: 400px;
}
.winner-loser-page .win-top-details {
    text-align: center;
    padding: 120px 0 0 0;
    margin-bottom: -50px;
}
.winner-loser-page .slot-winner-title {
    font-size: 40px;
    margin-top: 8px;
}
.winner-loser-page .ccontainer {
    max-width: 1200px;
    margin: 0 auto;
}
.winner-loser-page .win-top {
    margin-bottom: 200px;
}
.winner-loser-page .winner-txt-title {
    font-size: 62px;
    padding: 0;
}
.winner-loser-page .winner-txt-highlight {
    font-size: 62px;
    padding: 0;
    background-color: #fff;
    line-height: normal;
}
.winner-loser-page .win-bottom {
    text-align: center;
    padding-bottom: 100px;
}
.winner-loser-page .winner-btn {
    width: auto;
    min-width: 200px;
    font-size: 22px;
    margin: 10px auto;
    border-radius: 10px;
    line-height: 35px;
    box-shadow: none;
    font-weight: 600;
    border: none;
}
.winner-loser-page .winner-footer .winner-txt-small {
    background-color: #000;
    padding: 15px;
    text-align: center;
    font-size: 12px;
}
.winner-loser-page {
    min-height: 100vh;
    padding-bottom: 47px;
}
.winner-loser-page .winner-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.win-main-title {
    font-size: 27.37px;
    line-height: 27.37px;
}
/* winner page */
.footer2 {
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    margin-top: 35px;
}
.form-bottom-text {
    padding: 8px 16px;
    font-size: 10.37px;
}

.form-check {
    float: left;
    height: 17px;
    width: 17px;
}

.form-term {
    margin-left: 25px;
}

.form-term-link {
    margin-top: 10px;
    word-wrap: break-word;
}

.form-term-link a {
    text-decoration: underline;
    cursor: pointer;
}
.browser-base-regform .userInfoError.alert-danger {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 0;
    text-align: center;
    color: red;
    border: none;
    font-weight: 600;
    margin-top: 0!important;
    z-index: 9;
}
/* browser base game section */
.form-container {
    margin: 16px auto;
    width: 100%;
}
.slot-game-container {
    position: relative;
}
@media(max-width: 1199px) {
    .load-browser-regform #slotWrapper .left-half {
        width: 50%;
    }
}
@media(max-width: 991px) {
    .browser-base-regform {
        padding-top: 30px;
    }
}
@media (max-width: 768px) {
    .slot-game-container .main-container {
        width: 100%;
        padding-top: 10px;
    }
    .slot-game-container .main-container .left-half {
        width: 100%;
        margin-top: 0;
    }
    .desk-slot-header-logo {
        display: none;
    }
    .mo-slot-header-logo {
        display: block;
    }
    .left-half .outer-image-container {
        top: 0;
    }
    .has-eighteen-plus{
        display: block;
    }
    .form-container {
        max-height: 100%;
    }
}
@media (max-width: 767px) {
    .load-browser-regform #slotWrapper .left-half {
        width: 80%;
    }
}
@media (max-width: 576px) {
    .inner-txt {
        font-size: 2rem;
    }
}
@media all and (max-width: 480px) {
    .load-browser-regform #slotWrapper .left-half {
        width: 90%;
    }
}

 @media all and (max-width: 440px) {
   .slot-header-logo .slot-logo-img {
        max-width: 24vw;
        max-height: 24vh;
    }
 }