@font-face {
    font-family: 'DidotLTStd-Headline';
    src: url('DidotLTStd-Headline.eot');
    src: url('DidotLTStd-Headline.eot?#iefix') format('embedded-opentype'),
        url('DidotLTStd-Headline.woff2') format('woff2'),
        url('DidotLTStd-Headline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

