@font-face {
    font-family: 'SourceSansPro-LightIt';
    src: url('SourceSansPro-LightIt.eot');
    src: url('SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'),
        url('SourceSansPro-LightIt.woff2') format('woff2'),
        url('SourceSansPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

