@font-face {
    font-family: 'SourceSansPro-ExtraLightIt';
    src: url('SourceSansPro-ExtraLightIt.eot');
    src: url('SourceSansPro-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
        url('SourceSansPro-ExtraLightIt.woff2') format('woff2'),
        url('SourceSansPro-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

