@font-face {
    font-family: 'Montserrat-Italic';
    src: url('Montserrat-Italic.eot');
    src: url('Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Italic.woff2') format('woff2'),
        url('Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

