@font-face {
    font-family: 'DidotLTStd-Italic';
    src: url('DidotLTStd-Italic.eot');
    src: url('DidotLTStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('DidotLTStd-Italic.woff2') format('woff2'),
        url('DidotLTStd-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

